# Pandas - Data Analysis with Python


## What is Pandas?

Pandas is a high-performance data analysis tools.

Use it to:

1. Load data (various format supported)
2. Prepare data (clean data, merge data, select subset of data)
3. Analyse data (plot, print, compute indicators such as max, min, mean)
4. Output data (into various formats)

## Installation

* If you have Anaconda: Already installed
* If you have Miniconda: 
   ```bash
   conda install pandas
   ```
* If you have your another Python distribution: 
   ```
   pip install pandas --user
   ```

## More information

* Pandas cookbook: http://pandas.pydata.org/pandas-docs/stable/cookbook.html
* Official Pandas documentation: http://pandas.pydata.org/pandas-docs/stable/tutorials.html 
* Wes MecKinney, Python for Data Analysis 
![Python for Data Analysis](images/python_for_data_analysis.gif "Python for Data Analysis")

## Getting started with Pandas

In [1]:
%matplotlib inline

In [2]:
import pandas as pd   # pd is now an alias for pandas
import numpy as np
import matplotlib.pyplot as plt

# Make the graphs a bit prettier
pd.set_option('display.mpl_style', 'default') 
plt.rcParams['figure.figsize'] = (15, 5)

/home/sf1409/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2881: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  exec(code_obj, self.user_global_ns, self.user_ns)

## Interesting data sources

### Statistisk sentralbyrå
https://www.ssb.no

### Finn API 
https://www.finn.no/api

### Ruter API 
https://ruter.no/labs/

### YR data
http://om.yr.no/verdata/free-weather-data/

### Oslo Bysykkel API
https://developer.oslobysykkel.no/data

### Financial and economic data
https://www.quandl.com/

## Downloading the Oslo Bysykkel data

Visit https://developer.oslobysykkel.no/data and download the trip data of each month in CSV format.

## Loading in data

Pandas offers many drivers to load data in different formats:

In [3]:
pd.read_*?

In [4]:
pd.read_csv?

**Note**: A numpy array can be loaded into Pandas with

In [5]:
array = np.random.randn(8, 4)
pd.DataFrame(array, columns=["A", "B", "C", "D"])

          A         B         C         D
0 -0.186406  1.280073  0.428085 -0.756351
1 -1.154418  0.570225  0.256553  1.152159
2 -1.163652  0.491326 -0.363586  0.553840
3  1.095924 -1.472496 -0.547212  1.263573
4  1.983460  0.865649 -0.082865  0.876780
5  1.017322 -1.078749 -0.324283 -0.892761
6  0.567959 -0.310224 -0.423149  1.420498
7 -0.835418 -0.462227  0.327926 -0.957586

### Reading in the Oslo Byskkel data

We downloaded the bysykkel data [from here](https://developer.oslobysykkel.no/data):

In [6]:
!ls -hl data/bysykkel/*.csv

-rw-rw-r-- 1 sf1409 sf1409 14M nov.  22 20:17 data/bysykkel/trips-2016.10.1-2016.10.31.csv
-rw-rw-r-- 1 sf1409 sf1409 21M nov.  22 20:17 data/bysykkel/trips-2016.8.1-2016.8.31.csv
-rw-rw-r-- 1 sf1409 sf1409 22M nov.  22 20:17 data/bysykkel/trips-2016.9.1-2016.9.30.csv

Use the bash command `head` to inspect the first lines of one of the files:

In [7]:
!head data/bysykkel/trips-2016.10.1-2016.10.31.csv

Start station,Start time,End station,End time
283,2016-10-01 06:00:08 +0200,238,2016-10-01 06:09:47 +0200
169,2016-10-01 06:00:41 +0200,175,2016-10-01 06:11:07 +0200
211,2016-10-01 06:01:02 +0200,162,2016-10-01 06:15:52 +0200
200,2016-10-01 06:01:20 +0200,163,2016-10-01 06:15:04 +0200
157,2016-10-01 06:02:16 +0200,163,2016-10-01 06:04:29 +0200
177,2016-10-01 06:04:22 +0200,179,2016-10-01 06:24:40 +0200
257,2016-10-01 06:04:39 +0200,199,2016-10-01 06:16:09 +0200
191,2016-10-01 06:05:54 +0200,191,2016-10-01 06:06:21 +0200
191,2016-10-01 06:06:01 +0200,167,2016-10-01 06:15:40 +0200

As we can see, we are dealing with a comma seperated file with four columns and a header line. 
Loading this data into Pandas is easy:

In [8]:
bike_stats = pd.read_csv('data/bysykkel/trips-2016.10.1-2016.10.31.csv', sep=',')
type(bike_stats)

pandas.core.frame.DataFrame

In [9]:
bike_stats

,Start station,Start time,End station,End time
0,283,2016-10-01 06:00:08 +0200,238.0,2016-10-01 06:09:47 +0200
1,169,2016-10-01 06:00:41 +0200,175.0,2016-10-01 06:11:07 +0200
2,211,2016-10-01 06:01:02 +0200,162.0,2016-10-01 06:15:52 +0200
3,200,2016-10-01 06:01:20 +0200,163.0,2016-10-01 06:15:04 +0200
4,157,2016-10-01 06:02:16 +0200,163.0,2016-10-01 06:04:29 +0200
5,177,2016-10-01 06:04:22 +0200,179.0,2016-10-01 06:24:40 +0200
6,257,2016-10-01 06:04:39 +0200,199.0,2016-10-01 06:16:09 +0200
7,191,2016-10-01 06:05:54 +0200,191.0,2016-10-01 06:06:21 +0200
8,191,2016-10-01 06:06:01 +0200,167.0,2016-10-01 06:15:40 +0200
9,181,2016-10-01 06:06:13 +0200,251.0,2016-10-01 06:18:34 +0200
10,210,2016-10-01 06:06:16 +0200,163.0,2016-10-01 06:11:34 +0200
11,191,2016-10-01 06:06:36 +0200,222.0,2016-10-01 06:09:59 +0200
12,228,2016-10-01 06:08:01 +0200,247.0,2016-10-01 06:15:01 +0200
13,175,2016-10-01 06:08:22 +0200,222.0,2016-10-01 06:14:44 +0200
14,219,2016-10-01 06:11:44 +0200,192.0,2016-10-01 06:18:42 +0200
15,211,2016-10-01 06:12:00 +0200,235.0,2016-10-01 06:18:41 +0200
16,219,2016-10-01 06:13:26 +0200,192.0,2016-10-01 06:24:42 +0200
17,198,2016-10-01 06:15:22 +0200,201.0,2016-10-01 06:25:26 +0200
18,242,2016-10-01 06:15:34 +0200,211.0,2016-10-01 06:25:34 +0200
19,233,2016-10-01 06:17:36 +0200,200.0,2016-10-01 06:31:11 +0200
20,228,2016-10-01 06:18:04 +0200,181.0,2016-10-01 06:27:16 +0200
21,240,2016-10-01 06:18:43 +0200,252.0,2016-10-01 06:22:47 +0200
22,235,2016-10-01 06:21:49 +0200,211.0,2016-10-01 06:27:46 +0200
23,201,2016-10-01 06:22:04 +0200,281.0,2016-10-01 06:25:49 +0200
24,272,2016-10-01 06:22:17 +0200,251.0,2016-10-01 06:34:22 +0200
25,222,2016-10-01 06:24:50 +0200,192.0,2016-10-01 06:30:39 +0200
26,208,2016-10-01 06:26:13 +0200,253.0,2016-10-01 06:33:20 +0200
27,183,2016-10-01 06:26:55 +0200,248.0,2016-10-01 06:34:09 +0200
28,298,2016-10-01 06:27:06 +0200,196.0,2016-10-01 06:38:20 +0200
29,242,2016-10-01 06:29:20 +0200,301.0,2016-10-01 06:38:25 +0200
...,...,...,...,...
242728,190,2016-10-31 23:33:37 +0100,272.0,2016-10-31 23:40:34 +0100
242729,228,2016-10-31 23:33:55 +0100,233.0,2016-10-31 23:36:50 +0100
242730,226,2016-10-31 23:34:59 +0100,164.0,2016-10-31 23:37:07 +0100
242731,186,2016-10-31 23:35:02 +0100,164.0,2016-10-31 23:44:13 +0100
242732,248,2016-10-31 23:35:06 +0100,233.0,2016-10-31 23:53:57 +0100
242733,194,2016-10-31 23:35:52 +0100,229.0,2016-10-31 23:46:51 +0100
242734,298,2016-10-31 23:36:31 +0100,218.0,2016-10-31 23:41:20 +0100
242735,294,2016-10-31 23:36:41 +0100,204.0,2016-10-31 23:40:40 +0100
242736,210,2016-10-31 23:36:58 +0100,190.0,2016-10-31 23:46:21 +0100
242737,218,2016-10-31 23:37:09 +0100,164.0,2016-10-31 23:47:50 +0100
242738,164,2016-10-31 23:38:49 +0100,161.0,2016-10-31 23:47:52 +0100
242739,182,2016-10-31 23:39:52 +0100,189.0,2016-10-31 23:48:26 +0100
242740,298,2016-10-31 23:40:53 +0100,264.0,2016-10-31 23:45:35 +0100
242741,228,2016-10-31 23:41:10 +0100,238.0,2016-10-31 23:46:38 +0100
242742,181,2016-10-31 23:45:44 +0100,292.0,2016-10-31 23:53:31 +0100
242743,260,2016-10-31 23:45:59 +0100,294.0,2016-11-01 00:04:43 +0100
242744,189,2016-10-31 23:46:57 +0100,275.0,2016-11-01 01:45:11 +0100
242745,226,2016-10-31 23:47:20 +0100,175.0,2016-11-01 00:02:10 +0100
242746,200,2016-10-31 23:48:23 +0100,222.0,2016-11-01 00:00:46 +0100
242747,287,2016-10-31 23:49:13 +0100,204.0,2016-10-31 23:55:26 +0100
242748,301,2016-10-31 23:49:51 +0100,275.0,2016-10-31 23:54:29 +0100
242749,185,2016-10-31 23:50:10 +0100,228.0,2016-11-01 00:05:47 +0100
242750,226,2016-10-31 23:50:29 +0100,210.0,2016-10-31 23:55:14 +0100
242751,233,2016-10-31 23:52:09 +0100,233.0,2016-11-01 00:07:33 +0100
242752,211,2016-10-31 23:52:24 +0100,281.0,2016-11-01 01:17:32 +0100
242753,284,2016-10-31 23:53:30 +0100,164.0,2016-11-01 00:04:13 +0100
242754,218,2016-10-31 23:53:48 +0100,292.0,2016-11-01 00:09:17 +0100
242755,204,2016-10-31 23:54:28 +0100,277.0,2016-11-01 00:01:59 +0100
242756,204,2016-10-31 23:56:57 +0100,201.0,2016-11-01 00:02:16 +0100
242757,268,2016-10-31 23:59:10 +0100,299.0,2016-11-01 00:04:55 +0100

**Note**: Pandas automatically used the first line as titles for the data columns.

**Note**: The first column that is printed out is the `index` of the DataFrame. It is a unique identifier of a row and was automatically generated for us (but we can change it later).

It will be convienient to only look at an excerpt of a `DataFrame`. Use `DataFrame.head()` to display the first few lines:

In [10]:
bike_stats.head()

,Start station,Start time,End station,End time
0,283,2016-10-01 06:00:08 +0200,238.0,2016-10-01 06:09:47 +0200
1,169,2016-10-01 06:00:41 +0200,175.0,2016-10-01 06:11:07 +0200
2,211,2016-10-01 06:01:02 +0200,162.0,2016-10-01 06:15:52 +0200
3,200,2016-10-01 06:01:20 +0200,163.0,2016-10-01 06:15:04 +0200
4,157,2016-10-01 06:02:16 +0200,163.0,2016-10-01 06:04:29 +0200

### Selecting columns

We can select a column by indexing by the column title:

In [11]:
bike_stats['Start time'].head()

0    2016-10-01 06:00:08 +0200
1    2016-10-01 06:00:41 +0200
2    2016-10-01 06:01:02 +0200
3    2016-10-01 06:01:20 +0200
4    2016-10-01 06:02:16 +0200
Name: Start time, dtype: object

Multiple columns are selected by indexing with a list of column titles:

In [12]:
bike_stats[['Start time', 'End time']].head()

                  Start time                   End time
0  2016-10-01 06:00:08 +0200  2016-10-01 06:09:47 +0200
1  2016-10-01 06:00:41 +0200  2016-10-01 06:11:07 +0200
2  2016-10-01 06:01:02 +0200  2016-10-01 06:15:52 +0200
3  2016-10-01 06:01:20 +0200  2016-10-01 06:15:04 +0200
4  2016-10-01 06:02:16 +0200  2016-10-01 06:04:29 +0200

We can see that the Oslo cycles opens at 6 in the morning. We can see the final rows with `tail()`. Pass in a number to tell Pandas how many rows you are interested in:

In [13]:
bike_stats[['Start time', 'End time']].tail(3)

                       Start time                   End time
242755  2016-10-31 23:54:28 +0100  2016-11-01 00:01:59 +0100
242756  2016-10-31 23:56:57 +0100  2016-11-01 00:02:16 +0100
242757  2016-10-31 23:59:10 +0100  2016-11-01 00:04:55 +0100

We can see that the Oslo bysykkel closes at midnight.

### Change type of columns
Pandas tries to automatically detect the type of a column:

In [ ]:
bike_stats.dtypes

Start station      int64
Start time        object
End station      float64
End time          object
dtype: object

We can see that this automatic detection failed for both `Start time` and `End time`: their `dtype` is `object` instead of a `date` type. 

In order to be able to sort or filter by date, we need to tell Pandas that these columns should be parsed as dates. We can do this directly when loading the data with the `parse_dates` parameter:

In [ ]:
bike_stats_types = pd.read_csv('data/bysykkel/trips-2016.10.1-2016.10.31.csv', sep=',', parse_dates=['Start time', 'End time'])

In [ ]:
bike_stats_types.head()

**Note**: Pandas has remove the timzone and shows the times now in GMT time.

We can double check the types with the `DataFrame.dtype` function:

In [ ]:
import numpy as np
bike_stats_types["Start time"].dtype == np.dtype('datetime64[ns]')

**Note**: `End station` has been detected as `float` rather than `int`. This is because the `End station` column contains `Not a Number` (`NaN`) values , which cannot be represented as in the `int` type. Pandas chose instead the closest equivalent that supports `NaN`s, in the case a `float`.

## Plotting

We can use the `plot` class method to plot our `DataFrame`.

In [ ]:
bike_stats_types['Start station'].head().plot(kind="bar")

**Note**: The x-axis is automatically labeld with the `index` of the row. We can also select a column to be used as label for the x-axis.

Use the `kind` parameter to control which kind of plot you want (read the docstring for `FataFrame.plot` to see a full list).

In [ ]:
bike_stats_types.plot?

Passing multiple columns results in multiple plot bars:

In [ ]:
bike_stats_types[['Start station', 'End station']].head().plot(kind="bar")

We can also select a column to be used as label for the x-axis (instead of the index):

In [ ]:
bike_stats_types[['Start time', 'Start station', 'End station']].head().plot(x='Start time', y=['Start station', 'End station'], kind="bar")

A scatter plot allows us to visualize from where to where people travelled:

In [ ]:
bike_stats_types[['Start station', 'End station']].plot('Start station', 'End station', kind="scatter")

**Note**: Now the x- and y-axis are labeld with the columns title.

By plotting the `Start station` as a histogram, we see how frequent each station

In [ ]:
bike_stats_types['Start station'].plot(kind='hist')

**Note**: Pandas seems to lump the station information, making this plot not too useful.

### Saving/Converting data

A `DataFrame` can be saved again to file:

In [ ]:
bike_stats.to_*?

Saving as a csv file:

In [ ]:
bike_stats.to_csv("data.csv")

Saving as Latex table:

In [ ]:
bike_stats.head().to_latex("data.tex")

In [ ]:
!cat data.tex

Saving to html:

In [ ]:
bike_stats.head().to_html("data.html")
!google-chrome data.html

Or convert to a numpy array:

In [ ]:
bike_stats.as_matrix()

# Selecting data from DataFrames

We know this already: We can select a column by indexing with the column title:

In [ ]:
bike_stats['Start time'].head()

A range of rows can be selected by indexing a slice:

In [ ]:
bike_stats[5:10]

A padding can be used to get every n'th row:

In [ ]:
bike_stats[5:50:5]

... or combining them to the certain rows and columns:

In [ ]:
bike_stats['Start time'][5:15]

**Note**: This also works:
```python        
bike_stats[5:15]['Start time']
```

## What are the top ten bike stations?

We can use the `DataFrame.value_counts` function to count how often each value occurs in a `DataFrame`:

In [ ]:
bike_stats['Start station'].value_counts()[:10]

Plotting these in a bar chart shows us the distribution of station usage:

In [ ]:
bike_stats['Start station'].value_counts()[:100].plot(kind='bar')

# Reading json, setting index and plotting maps

Next let us read in information about the each station.

In [ ]:
!python -m json.tool data/bysykkel/stations.json

Each station has a unique identifier (`id`) and some additional information.

The obvious thing would be to use `pd.read_json`:
```python
bike_stations = pd.read_json('data/bysykkel/stations')
```
**But**: this does not work. `read_json` expects the json to be in a specific format.

Instead we load the data with the `json` module to first read in the data:

In [ ]:
import json
json_stations = json.load(open('data/bysykkel/stations.json', 'r'))
json_stations

We are interested in the node `stations`, so let's extract this:

In [ ]:
station_json = json_stations['stations']
station_json

We can now use the `pandas.io.json_normalize` function to read in the entire dataset:

In [ ]:
stations = pd.io.json.json_normalize(station_json)
stations

## Setting the index

Since each row in our station table is uniquely identified by the station id, it makes sense to use this column as the index for the dataframe:

In [ ]:
stations = stations.set_index('id')
stations

**Note**: The `id` data column has been removed and is now the index. This means that we cannot extract the id column anymore with:
```python
stations["id"]  # Fails - does not exist anymore
```
Instead use:
```python
stations.index
```

The index will be used, e.g. for row labels when plotting:

In [ ]:
stations["number_of_locks"].plot("bar")

## Removing columns

Some of the columns are not so usefull so we would like to remove them.

We can extract a subset of the DataFrame with:
```python
Dataframe.drop([Column Name or list], axis=1)
```
Lets reduce our stations to the usefull columns:

In [ ]:
stations = stations.drop(["bounds", "subtitle"], axis=1)
stations.head()

We can extract parts of our `DataFrame` with 
```python
DataFrame.loc[startrow:endrow,startcolumn:endcolumn]
```
So for example if we are interested in the GPS positions for the stations with id 130-140 we use:

In [ ]:
stations.loc[160:170, "center.latitude":"center.longitude"]

We can mathematical functions such as `min`, `max` or `mean` to get some information about a column:

In [ ]:
print("min number of locks:  {}".format(stations["number_of_locks"].min()))
print("max number of locks:  {}".format(stations["number_of_locks"].max()))
print("mean number of locks: {}".format(stations["number_of_locks"].mean()))

We can `where` statments to find rows that satisfy certain conditions:

In [ ]:
large_stations = stations[stations["number_of_locks"] > 30]

In [ ]:
len(large_stations), len(stations)

## Adding columns
New columns can be added by assigning data to a new column name:

In [ ]:
stations['random'] = np.random.random(len(stations))
stations.head()

## Plotting maps

It would be nice to plot the stations in a Google Maps map. We use the module `gmplot` for this:

In [ ]:
import gmplot

gmap = gmplot.GoogleMapPlotter(59.915620, 10.762248, zoom=12)
gmap.draw("mymap.html")

We can now open up the `mymap.html` with our favorite browser, or simply in the IPython notebook:

In [ ]:
# Show the plot
from IPython.display import IFrame
#IFrame('mymap.html', width=700, height=350)

Next, we extract the stations longtitude, latitude and location tile:

In [ ]:
stations[["center.latitude", "center.longitude"]].head()

In [ ]:
x = stations["center.latitude"][:10]

In [ ]:
x.values

And add it to our plot:

In [ ]:
from insertapikey import insertapikey
gmap.scatter(stations["center.latitude"].values, stations["center.longitude"].values, size=10, marker=True)
gmap.draw("mymap_with_stations.html")
insertapikey("mymap_with_stations.html") # API key needed for Google
#IFrame('mymap_with_stations.html', width=700, height=350)

![Screenshot](images/gm.png "Bike stations in Google Maps")

# Concatenating and merging DataFrames

## Concatenating Panda objects

The data so far only contained the statistics for October 2016:

In [ ]:
bike_stats_types["Start time"].min(), bike_stats_types["Start time"].max()

Let's also load the data for September 2016:

In [ ]:
bike_stats_september = pd.read_csv('data/bysykkel/trips-2016.9.1-2016.9.30.csv', sep=',', parse_dates=['Start time', 'End time'])

To concatenate the two, we use the `concat` function:

In [ ]:
bike_stats_sep_oct = pd.concat((bike_stats_september, bike_stats_types))

**Note**: An altnerative implementation is 
```
bike_stats_sep_oct = bike_stats_september.append(bike_stats_types)
```

Let's check again that we indeed have the full range:

In [ ]:
bike_stats_sep_oct["Start time"].min(), bike_stats_sep_oct["Start time"].max()

## Merging DataFrames

So far our bike statistics stores the bike stations as abstract integeres:

In [ ]:
bike_stats_sep_oct.head()

Wouldn't it be nice to add more information about the station? We can do this by merging the information in the `stations` DataFrame into the `bike_stats_sep_oct` DataFrame. The syntax for merging two tables with the most important arguments is:

```python
pd.merge(left, right, how='inner', left_on=None, right_on=None, right_index=None, left_index=None)
```         
The arguments mean the following:
* `left`: A DataFrame object
* `right`: Another DataFrame object
* `left_on`: Columns from the left DataFrame to use as keys. 
* `right_on`: Columns from the right DataFrame to use as keys.
* `right_index`: Use index of the right DataFrame as key.
* `left_index`: Use index of the right DataFrame as key.
* `how`: One of 'left', 'right', 'outer', 'inner'. Defaults to inner.

Let's try it out. First, lets check the names of our columns again:

In [ ]:
print(bike_stats_sep_oct.dtypes)

In [ ]:
print(stations.dtypes)

We want to merge in the columns `bike_stats_sep_oct["Start station"]` with the index for `stations`. We merge call is therefore:

In [ ]:
merged_bike_stats = pd.merge(bike_stats_sep_oct, stations, how='left', left_on="Start station", right_index=True)
merged_bike_stats

Let's check that we still have all the data rows:

In [ ]:
print(len(merged_bike_stats))
print(len(bike_stats_sep_oct))

Wohooo!

Let us do the same for `End station`. To avoid overlapping column names, we use the `suffices` arguments, which automatically appends a suffix for duplicate column names:

In [ ]:
merged_bike_stats2 = pd.merge(merged_bike_stats, stations, how='left', left_on="End station", right_index=True, suffixes=("_start", "_end"))
merged_bike_stats2

## What are the busiest stations?

Let's first find the busiest station:

In [ ]:
busy_station = merged_bike_stats2['Start station'].value_counts()[:5]
busy_station

In [ ]:
stations.loc[busy_station.index]

Next lets filter out all statistics of this station

In [ ]:
ak_plass_stats = merged_bike_stats[merged_bike_stats["Start station"] == busy_station.index[0]]
ak_plass_stats

Let's plot the results

In [ ]:
ak_plass_stats = ak_plass_stats.set_index("Start time")
ak_plass_stats[:100].plot(kind="line")

## What is the usage of the citybikes for each weekday? 
(inspired by this [Pandas cookbook](https://github.com/jvns/pandas-cookbook/blob/master/cookbook/Chapter%204%20-%20Find%20out%20on%20which%20weekday%20people%20bike%20the%20most%20with%20groupby%20and%20aggregate.ipynb))
It would be interesting to see on which weekdays people use the bikes the most.

### Adding a 'weekday' column to our dataframe

In [ ]:
ak_plass_stats.index

In [ ]:
ak_plass_stats.index.day

In [ ]:
ak_plass_stats.index.weekday

These are the days of the week, where 0 is Monday and 6 is Sunday. 

Now that we know how to get the weekday, we can add it as a column in our dataframe like this:

In [ ]:
ak_plass_stats_cpy = ak_plass_stats.copy()
ak_plass_stats['weekday'] = ak_plass_stats.index.weekday
ak_plass_stats

We also add a counter to one - we will later add all the rows with common weekdays and the counter will tell us how many trips we added.

In [ ]:
ak_plass_stats['counter'] = 1
ak_plass_stats = ak_plass_stats[['weekday', 'counter']]
ak_plass_stats.head()

## Adding up the cyclists by weekday

Dataframes have a .groupby() method that is similar to SQL groupby, if you're familiar with that.

In [ ]:
ak_plass_stats.groupby?

In this case, 
```python
ak_plass_stats.groupby('weekday').aggregate(sum)
```
means "Group the rows by weekday and then add up all the values with the same weekday".

In [ ]:
weekday_counts = ak_plass_stats.groupby('weekday').aggregate(sum)
weekday_counts

Let's change the index to something more meaningful:

In [ ]:
weekday_counts.index = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
weekday_counts

In [ ]:
weekday_counts.plot(kind='bar')

## How is the usage across different hours of the day?

We can use the same strategy to find out how busy the city bikes are at certain hours of the day:

In [ ]:
ak_plass_stats['hour'] = ak_plass_stats.index.hour

In [ ]:
ak_plass_stats.head()

In [ ]:
hour_counts = ak_plass_stats[["hour", "counter"]].groupby('hour').aggregate(sum)
hour_counts

In [ ]:
hour_counts.plot(kind="bar")